@npm-bbta:registry=https://bbogdigital.jfrog.io/bbogdigital/api/npm/npm-bbta/
//bbogdigital.jfrog.io/bbogdigital/api/npm/npm-bbta/:_auth=${BDB_TOKEN}
//bbogdigital.jfrog.io/bbogdigital/api/npm/npm-bbta/:always-auth=true